<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:context="http://www.springframework.org/schema/context"
             xmlns:aop="http://www.springframework.org/schema/aop"
             xmlns:tx="http://www.springframework.org/schema/tx"
             xmlns:mvc="http://www.springframework.org/schema/mvc" 
             xmlns:mongo="http://www.springframework.org/schema/data/mongo"  
             xsi:schemaLocation="http://www.springframework.org/schema/beans
                     http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
                     http://www.springframework.org/schema/context
                     http://www.springframework.org/schema/context/spring-context-4.0.xsd
                     http://www.springframework.org/schema/aop
                     http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
                     http://www.springframework.org/schema/tx
                     http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
                     http://www.springframework.org/schema/mvc
                     http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
                     http://www.springframework.org/schema/data/mongo
                     http://www.springframework.org/schema/data/mongo/spring-mongo-1.5.xsd ">  
                     
                     
    <!-- 自动扫描的包名 -->             
    <context:component-scan base-package="com.mb"/>    
    <!-- 默认的注解映射的支持 -->  
    <mvc:annotation-driven />  
    
    <!-- mongodb端口和ip配置 -->
    <mongo:db-factory host="127.0.0.1" port="27017" dbname="test" />
    <mongo:mapping-converter id="converter" db-factory-ref="mongoDbFactory"/>
    <bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">    
            <constructor-arg ref="mongoDbFactory"/>
            <constructor-arg ref="converter"/> 
     </bean>     
     <!-- 文件系统 -->
     <bean id="gridFsTemplate" class="org.springframework.data.mongodb.gridfs.GridFsTemplate">
	  <constructor-arg ref="mongoDbFactory"/>
	  <constructor-arg ref="converter"/>
	</bean>
     
     <!-- SpringJdbc配置(postgresql) -->
     <bean id="ds"
        class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="org.postgresql.Driver"/>  
		<property name="url" value="jdbc:postgresql://127.0.0.1:5432/postgres"/>  
		<property name="username" value="postgres"/>  
		<property name="password" value="123456"/>  
		<property name="initialSize" value="10"/>  
		<property name="maxActive" value="18"/>  
		<property name="maxWait" value="88"/>  
		<property name="poolPreparedStatements" value="true"/>  
    </bean>
    
    <bean id = "transactionManager"   
         class = "org.springframework.jdbc.datasource.DataSourceTransactionManager">   
         <property name = "dataSource" ref="ds"/>   
    </bean>  

    <bean id="jdbcTemplate"
        class="org.springframework.jdbc.core.JdbcTemplate"  lazy-init="false" autowire="default" >
        <property name="dataSource">
            <ref bean="ds" />
        </property>
    </bean>
                     
    <!-- 返回结果转换为json -->                 
    <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">    
		<property name="messageConverters">    
			<list >    
				<ref bean="mappingJacksonHttpMessageConverter" />    
			</list>    
		</property>    
	</bean>
	
	<!-- 返回的数据为json格式 -->
	<bean id="mappingJacksonHttpMessageConverter" class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">  
	    <property name="supportedMediaTypes">  
	        <list>  
	            <value>application/json;charset=UTF-8</value>  
	       </list>  
	    </property>
	</bean>       
	
	<!-- 文件上传  这里申明的id必须为multipartResolver  -->
	<bean id="multipartResolver"
	    class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
	    <property name="defaultEncoding"  value="UTF-8"/>
<!-- 	    <property name="maxUploadSize" value="1024"/> -->
	    <!--  defaultEncoding：表示用来解析request请求的默认编码格式，当没有指定的时候根据Servlet规范会使用默认值ISO-8859-1。当request自己指明了它的编码格式的时候就会忽略这里指定的defaultEncoding。
		    uploadTempDir：设置上传文件时的临时目录，默认是Servlet容器的临时目录。
		    maxUploadSize：设置允许上传的最大文件大小，以字节为单位计算。当设为-1时表示无限制，默认是-1。
		    maxInMemorySize：设置在文件上传时允许写到内存中的最大值，以字节为单位计算，默认是10240。 -->
	</bean>        
                     
</beans>